<div class="container" style="text-align: center;">
    <h1>Angular Course</h1>
    <p style="text-align: justify;"><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia facilis quia officia dicta cumque aliquam harum modi ipsum doloremque dolorum. Quidem sint sequi perferendis minima ducimus voluptates, reprehenderit laborum accusamus velit atque ad fugiat, obcaecati dolor facere dignissimos temporibus? Minus impedit, tempora nisi reprehenderit modi rerum autem quasi ex dignissimos.
    </p>
</div>